@use "@/styles/variables" as *;

.topChefComponent {
  display: block;
}

.title {
  font-family: $font-primary;
  font-weight: 500;
  font-size: 15px;
  margin: 0 0 10px;
  text-transform: capitalize;
  color: $shade-400;
}

.chefs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.chefLink {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1;
    border-radius: 8px;
  }
}

.username {
  font-family: $font-secondary;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  color: $shade-900;
}

.viewAllContainer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;

  .viewAllLink {
    font-family: $font-primary;
    text-decoration: underline !important;
    font-weight: 500;
    font-size: 14px;
    color: $shade-900;
    text-decoration: none;
    transition: color 0.2s ease;

    &:hover {
      color: $shade-900;
    }
  }
}
