@use "@/styles/variables" as *;

.button {
  display: block;
  border-radius: 30px;
  padding: 0 58px;
  cursor: pointer;
  border: solid 1px $shade-100;
  background-color: $shade-400;
  color: $shade-100;
  height: 45px;
  font-family: $font-primary;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.1;
  text-transform: capitalize;
  outline: none;
  transition:
    background-color 0.3s,
    color 0.3s,
    border-color 0.3s;

  &:hover,
  &:focus {
    background-color: $shade-100;
    border-color: $shade-400;
    color: $shade-400;
  }

  &:disabled {
    background-color: $shade-200;
    border-color: $shade-200;
    color: $shade-900;
    cursor: not-allowed;
  }
}
