@use "@/styles/variables" as *;

.CommunityPage {
  .tabContent {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    gap: 14px 40px;

    @media (max-width: 768px) {
      grid-template-columns: repeat(1, minmax(100px, 1fr));
      gap: 14px 30px;
    }
  }
}
