@use "@/styles/variables" as *;

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  padding: 20px;
}

.popup {
  background-color: $shade-100;
  border-radius: 24px;
  padding: 46px 49px;
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 24px;
  fill: transparent;
  stroke: $shade-400;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: $shade-900;
  }

  a {
    color: $shade-400;
  }
}

.error {
  fill: $shade-400;
}
