@import "../../styles/variables.scss";

.chatPage {
  display: block;

  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
}

.chatsList {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px 0;
}

.emptyMessage {
  text-align: center;
  color: $shade-500;
  font-family: $font-primary;
  font-size: 14px;
  padding: 32px 16px;
}
