@use "@/styles/variables" as *;

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
  width: 100vw;
  z-index: 9999;
}

.preloaderFilled {
  background-color: $shade-400;
}

.preloaderTransparent {
  background-color: rgba($shade-900, 0.25);
}
