@use "@/styles/variables" as *;

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $shade-400;
  height: 100vh;
  width: 100vw;
  z-index: 9999;
}
