@use "@/styles/variables" as *;

.container {
  display: flex;
  gap: 8px;
  align-items: center;
  transition: all 0.3s ease;

  &.error {
    padding: 8px;
    border: 2px solid $shade-400;
    border-radius: 12px;
    background-color: rgba($shade-400, 0.1);
    animation: shake 0.3s ease;

    .star.empty {
      svg {
        fill: transparent;
        stroke: $shade-400;
      }
    }
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
}

.star {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: transform 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  stroke-width: 0.6px;

  &:hover:not(.readonly) {
    transform: scale(1.1);
  }

  &:active:not(.readonly) {
    transform: scale(0.95);
  }

  &.filled {
    fill: $shade-400;

    svg {
      fill: $shade-400;
    }
  }

  &.empty {
    fill: transparent;
    stroke: $shade-400;

    svg {
      fill: $shade-200;
      stroke: $shade-400;
    }
  }

  &.readonly {
    cursor: default;
  }

  &.light {
    svg {
      fill: transparent;
      stroke: $shade-100;
    }
  }
  &.light.filled {
    svg {
      fill: $shade-100;
      stroke: transparent;
    }
  }
}

.small {
  gap: 4px;

  .star {
    svg {
      width: 16px;
      height: 16px;
    }
  }
}

.medium {
  gap: 8px;

  .star {
    svg {
      width: 24px;
      height: 24px;
    }
  }
}

.large {
  gap: 12px;

  .star {
    svg {
      width: 32px;
      height: 32px;
    }
  }
}
