// colors
$shade-100: #fffdf9;
$shade-200: #ffc6c9;
$shade-300: #ec888d;
$shade-400: #fd5d69;
$shade-900: #3e2823;
$shade-950: #1c0f0d;

// Typography
$font-primary: "Poppins", sans-serif;
$font-secondary: "League Spartan", sans-serif;
