// colors - default light theme
:root {
  --shade-100: #fffdf9;
  --shade-200: #ffc6c9;
  --shade-300: #ec888d;
  --shade-400: #fd5d69;
  --shade-900: #3e2823;
  --shade-950: #1c0f0d;
}
// colors - dark theme
$shade-100: var(--shade-100);
$shade-200: var(--shade-200);
$shade-300: var(--shade-300);
$shade-400: var(--shade-400);
$shade-900: var(--shade-900);
$shade-950: var(--shade-950);

// Typography
$font-primary: "Poppins", sans-serif;
$font-secondary: "League Spartan", sans-serif;
