@use "@/styles/variables" as *;

.wrapper {
    border-radius: 33px;
    padding: 15px 38px;
    gap: 28px;
    height: 56px;
    background-color: $shade-400;
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    inset-block-end: 20px;
    left: 50%;
    transform: translateX(-50%);

    svg {
        flex-shrink: 0;
        height: 26px;
        width: 26px;
    }
}