@use "@/styles/variables" as *;

.bottomNavigation {
  position: fixed;
  left: 0;
  bottom: 0;
  padding-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 10;
  background: linear-gradient(
    180deg,
    rgba(255, 253, 249, 0.02) 0%,
    $shade-200 79.5%
  );

  .nav {
    border-radius: 33px;
    padding: 15px 38px;
    gap: 18px;
    height: 56px;
    background-color: $shade-400;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  svg {
    flex-shrink: 0;
    height: 26px;
    width: 26px;
    stroke-width: 1.5px;
  }
}
