@use "@/styles/variables" as *;

.container {
  padding-bottom: 40px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $shade-300;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 15px;

  img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    object-fit: cover;
  }

  .username {
    flex-grow: 1;
    font-family: $font-primary;
    font-weight: 400;
    font-size: 15px;
    color: $shade-400;
  }

  .time {
    font-family: $font-primary;
    font-weight: 400;
    font-size: 14px;
    color: $shade-300;
  }
}

.text {
  font-family: $font-primary;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.83;
  color: $shade-900;
}
