@use "@/styles/variables" as *;

.authWrapper {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    padding: 16px 36px 92px;
    background-color: $shade-100;
    border-radius: 12px;
}

.title {
    font-family: $font-primary;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.10;
    text-transform: capitalize;
    text-align: center;
    color: $shade-400;
    margin-bottom: 60px;
}