@use "@/styles/variables" as *;

.topSection {
  display: flex;
  align-items: flex-start;
  gap: 13px;
}

.avatar {
  display: block;
  width: 102px;
  height: 102px;
  border-radius: 50%;
  object-fit: cover;
}

.username {
  font-family: $font-primary;
  font-weight: 500;
  font-size: 15px;
  text-transform: capitalize;
  color: $shade-300;
  margin: 8px 0;
}

.bio {
  font-family: $font-secondary;
  font-weight: 300;
  font-size: 12px;
  color: $shade-900;
  margin: 8px 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.followButton {
  border-radius: 19px;
  padding: 4px 15px;
  background-color: $shade-400;
  color: $shade-100;
  border: solid 1px $shade-400;
  outline: none;
  font-family: $font-primary;
  font-weight: 500;
  font-size: 9px;
  text-transform: capitalize;
  text-align: center;
  transition:
    background-color 0.3s,
    color 0.3s,
    border-color 0.3s;
}

.following {
  background-color: $shade-200;
  color: $shade-400;
}

.statsSection {
  border: solid 1px $shade-200;
  border-radius: 14px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1px;
  margin-bottom: 10px;
}

.statItem {
  padding: 6px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  &:nth-child(odd) {
    &::after {
      content: "";
      position: absolute;
      top: 25%;
      right: 0;
      width: 1px;
      height: 50%;
      background-color: $shade-200;
    }
  }

  &:nth-child(1),
  &:nth-child(2) {
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 13.5%;
      width: 70%;
      height: 1px;
      background-color: $shade-200;
    }
  }
}
