@use "@/styles/variables" as *;

.header {
  background-color: $shade-400;
  border-radius: 10px;
  overflow: hidden;
}

.details {
  padding: 10px 10px 16px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  font-family: $font-secondary;
  font-weight: 400;
  font-size: 12px;
  color: $shade-900;

  .rating,
  .comments {
    display: flex;
    gap: 4px;
  }

  .rating {
    fill: $shade-100;
  }

  .comments {
    stroke: $shade-100;
  }
}

.title {
  font-family: $font-primary;
  font-weight: 500;
  font-size: 20px;
  text-transform: capitalize;
  color: $shade-100;
  margin: 0;
  flex-grow: 1;
}

.image {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 5 / 4;
  border-radius: 10px;
}
