@import "../../../styles/variables.scss";

.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.label {
  font-size: 14px;
  font-weight: 500;
  color: $shade-900;
}

.required {
  &::after {
    content: "*";
    color: $shade-400;
    margin-left: 2px;
  }
}

.textarea {
  width: 100%;
  min-height: 100px;
  padding: 12px 16px;
  font-size: 16px;
  font-family: inherit;
  color: $shade-950;
  background-color: $shade-200;
  border: 1px solid $shade-300;
  font-size: 18px;
  border-radius: 18px;
  resize: vertical;
  outline: none;
  transition: border-color 0.2s;

  &:focus {
    border-color: $shade-400;
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.error {
  font-size: 12px;
  color: $shade-400;
}
