.wrapper {
  padding: 0 15px;
  max-height: 100svh;
  overflow: auto;
  max-width: 991px;
  margin: 0 auto;
}

.wrapperAuthenticated {
  @extend .wrapper;
  padding-top: 15px;
  padding-bottom: 150px;
}
