@use "@/styles/variables" as *;

.wrapper {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 15px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 10;
}

.title {
  font-family: $font-primary;
  font-weight: 400;
  font-size: 25px;
  color: $shade-400;
  margin: 0 0 5px 0;
}

.subtitle {
  font-weight: 400;
  font-size: 13px;
  color: $shade-900;
  margin: 0;
  font-family: $font-secondary;
}

.buttons {
  display: flex;
  gap: 10px;
}
