@use "@/styles/variables" as *;

.drawerBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
  display: flex;
  align-items: flex-end;

  p {
    color: $shade-900;
    margin: 20px 0;
  }

  h1,
  h2,
  h3,
  h4 {
    color: $shade-400;
    margin: 12px 0;
  }
}

.drawerContent {
  padding: 25px 56px;
  background-color: $shade-100;
  color: $shade-100;
  width: 100%;
  position: relative;

  &.bottom {
    align-self: flex-end;
    border-radius: 50px 50px 0 0;
  }

  &.top {
    align-self: flex-start;
    border-radius: 0 0 50px 50px;
  }
}
