@use "@/styles/variables" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.buttonWrapper {
  margin: 40px 0;
  display: flex;
  justify-content: center;
}

.error {
  color: $shade-400;
  font-size: 14px;
  font-style: italic;
  text-align: center;
}
