@use "@/styles/variables" as *;

.list {
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
    gap: 14px 40px;

    @media (max-width: 768px) {
        grid-template-columns: repeat(2, minmax(100px, 1fr));
        gap: 14px 30px;
    }
}