@use "@/styles/variables" as *;

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 26px 0;
  border-bottom: 1px solid $shade-300;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.avatar {
  object-fit: cover;
  border-radius: 50%;
}

.username {
  font-family: $font-primary;
  font-weight: 400;
  font-size: 12px;
  color: $shade-400;
  margin: 4px 0;
}

.name {
  font-family: $font-secondary;
  font-weight: 300;
  font-size: 14px;
  line-height: 107%;
  color: $shade-900;
  margin: 4px 0;
}

.actions {
  display: flex;
  align-items: center;
}

.followButton {
  border-radius: 18px;
  padding: 6px 15px;
  font-family: $font-secondary;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: $shade-100;
  background-color: $shade-400;
  outline: none;
  border: none;
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;

  &:hover,
  &:focus {
    background-color: $shade-300;
    color: $shade-900;
  }
}

.moreButton {
  background-color: transparent;
  outline: none;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
  fill: $shade-400;
  padding: 18px;
  transition: fill 0.2s ease;

  &:hover,
  &:focus {
    fill: $shade-900;
  }
}
