@use "@/styles/variables" as *;

.recipeContent {
  position: relative;
  background-color: $shade-100;
  color: $shade-900;
  border-radius: 15px;
}

.likeButton {
  position: absolute;
  padding: 0;
  background-color: transparent;
  outline: none;
  border: none;
  top: 11px;
  right: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
}

.recipeImage {
  border-radius: 15px;
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  display: block;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 2;
}

.recipeDetails {
  padding: 8px 8px 0 8px;
  position: relative;
  z-index: 1;
  bottom: 10px;
  width: calc((100% - 14px));
  left: 7px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border: solid 1px $shade-300;
  border-radius: 0 0 14px 14px;
}

.recipeName {
  font-family: $font-primary;
  font-weight: 500;
  font-size: 15px;
  text-transform: capitalize;
  color: $shade-900;
  margin: 8px 0;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  span {
    margin-left: 8px;
    vertical-align: middle;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
  }
}

.recipeDescription {
  font-family: $font-secondary;
  font-weight: 300;
  font-size: 14px;
  line-height: 107%;
  color: $shade-900;
  margin: 8px 0;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.recipeStats {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 4px;

  p {
    margin: 0;
    font-weight: 400;
    font-size: 12px;
    font-family: $font-primary;
    color: $shade-300;
  }

  .rating {
    fill: $shade-300;
  }

  .time {
    stroke: $shade-300;
  }
}
