@use "@/styles/variables" as *;

.container {
  display: flex;
  flex-direction: column;
  background-color: $shade-100;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 30px;
  padding: 20px 0;
  fill: $shade-400;
}

.errorCode {
  margin: 0;
  color: $shade-400;
}

.textContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  text-align: center;
  max-width: 400px;
}

.title {
  font-size: clamp(24px, 5vw, 32px);
  font-weight: 700;
  font-family: $font-secondary;
  color: $shade-900;
  margin: 12px 0 5px;
}

.description {
  font-size: clamp(14px, 3vw, 16px);
  color: $shade-500;
  line-height: 1.6;
  margin: 0;
}

@media (min-width: 768px) {
  .content {
    gap: 40px;
  }

  .imageContainer {
    max-width: 500px;
  }

  .textContent {
    max-width: 500px;
    gap: 16px;
  }
}
