@use "@/styles/variables" as *;

.wrapper {
  margin-bottom: 10px;
}

.title {
  margin-top: 0;
  font-family: $font-primary;
  font-weight: 500;
  font-size: 15px;
  text-transform: capitalize;
  color: $shade-400;
}

.createButton {
  display: inline-block;
  background-color: $shade-300;
  border: solid 1px transparent;
  color: $shade-100;
  font-family: $font-primary;
  font-weight: 500;
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  transition:
    background-color 0.2s ease,
    border-color 0.2s ease;

  &:hover {
    background-color: $shade-400;
    border-color: $shade-100;
  }
}
