@use "@/styles/variables" as *;

.recipeCardExpanded {
  padding-bottom: 30px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $shade-400;
  }
}

.recipeHeader {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 15px 0;

  .authorUsername {
    font-family: $font-primary;
    font-weight: 400;
    font-size: 15px;
    color: $shade-900;
    margin: 4px 0;
  }

  .createdAt {
    font-family: $font-primary;
    font-weight: 400;
    font-size: 12px;
    color: $shade-300;
    margin: 4px 0;
  }
}

.authorAvatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.recipeContent {
  position: relative;
  background-color: $shade-400;
  color: $shade-100;
  border-radius: 15px;
}

.likeButton {
  position: absolute;
  padding: 0;
  background-color: transparent;
  outline: none;
  border: none;
  top: 11px;
  right: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
}

.recipeImage {
  border-radius: 15px 15px 0 0;
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  display: block;
}

.recipeDetails {
  padding: 0 8px 8px 8px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.recipeName {
  font-family: $font-primary;
  font-weight: 500;
  font-size: 15px;
  text-transform: capitalize;
  color: $shade-100;
  margin: 8px 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  span {
    margin-left: 8px;
    vertical-align: middle;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
  }
}

.recipeDescription {
  font-family: $font-secondary;
  font-weight: 300;
  font-size: 14px;
  line-height: 107%;
  color: $shade-100;
  margin: 8px 0;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.recipeStats {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 4px;

  p {
    margin: 0;
    font-weight: 400;
    font-size: 12px;
    font-family: $font-primary;
  }

  .rating {
    fill: $shade-100;
  }

  .time {
    stroke: $shade-100;
  }

  .comments {
    stroke: $shade-100;
  }
}
